@import '_variables';
@import './shared/linkCard';
@import './shared/header';
@import './shared/footer';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
}

@media (min-width: 1000px) {
  main .leaf_bg_pattern {
    position: absolute;
    top: 47.5rem;
    left: 0rem;
    z-index: -1;
    width: 100.6rem;
    height: 59.4rem;
    background: url('../../public/assets/shared/desktop/bg-pattern-leaf.svg');
    background-repeat: no-repeat;

    &:nth-of-type(2) {
      top: 187.9rem;
      left: unset;
      right: 0;
      transform: rotate(180deg);
    }
  }
}
