.section {
  margin: 0 2.4rem;
}

@media (min-width: 1000px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30.8rem;
    gap: 3rem;
    max-width: 111rem;
    margin: 0 auto;

    a {
      height: 30.8rem;
    }
  }
}
