@import '../variables';

.hero {
  height: 84.3rem;
  overflow: hidden;
  background-color: $primary-peach;
  position: relative;

  .content {
    margin: 8rem 2.4rem 35rem;
    text-align: center;
    color: $primary-white;
    position: relative;
    z-index: 1;

    h1 {
      font-weight: 500;
      font-size: 3.2rem;
      line-height: 3.6rem;
    }

    p {
      margin: 2rem 0 2.4rem;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
  }

  .image {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
    width: 62.4rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  .bg_pattern {
    position: absolute;
    width: 64rem;
    height: 64rem;
    top: 10.2rem;
    left: 0;
  }
}

@media (min-width: 768px) {
  .hero {
    margin: 0 4rem;
    border-radius: 1.5rem;

    .content {
      margin: 6rem 5.8rem 45.7rem;

      h1 {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }

      p {
        margin: 3rem 7rem 1.9rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    .image {
      top: 28rem;
    }

    .bg_pattern {
      top: 10.2rem;
      left: 17.5rem;
    }
  }
}

@media (min-width: 1000px) {
  .hero {
    max-width: 111rem;
    height: 64rem;
    margin: 0 auto;

    .content {
      width: 54rem;
      margin: 14.5rem auto 14.5rem 9.5rem;
      text-align: left;

      p {
        width: 44.5rem;
        margin: 4rem 0;
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    .image {
      top: -3rem;
      left: unset;
      transform: translateX(0);
      right: -8rem;
    }

    .bg_pattern {
      top: 0;
      left: unset;
      right: 0;
    }
  }
}
