@import '../variables';

.section {
  margin: 12rem 2.4rem 12rem;
  text-align: center;
}

@media (min-width: 768px) {
  .section {
    margin: 12rem 4rem 12rem;
  }
}

@media (min-width: 1000px) {
  .section {
    margin: 16rem auto;
    max-width: 111rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30.8rem 30.8rem;
    gap: 2.4rem 3rem;
  }
}
